In [45]:
#loading all the directories

import pandas as pd
import numpy as np
import nltk
from nltk.corpus import stopwords
import string

#loading data
tweets_data = pd.DataFrame(pd.read_excel("Tweets2.xlsx"))

In [48]:
#displaying top 5 data 
tweets_data.head(5)

                                              Tweets  Racist
0  Billie Eilish mocked Asian and black accents, ...       1
1             This Is Miss America, not Miss Muslim.       1
2  Same! I love it! But they miss so many words- ...       1
3  The Ancient West Africans of the city of Ile-I...       0
4  Millions of Africans travel to Europe to find ...       0

In [104]:
#downloading stopwords

nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\tanma\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [20]:
#function for cleaning the text

def pr_tweet(Tweets):
    nopunc=[char for char in Tweets if char not in string.punctuation ]
    nopunc=''.join(nopunc)
    
    clean_words=[word for word in nopunc.split() if word.lower() not in stopwords.words('english')]
    
    return clean_words

In [23]:
#Showing the tokenization of text

tweets_data['Tweets'].head().apply(pr_tweet)

0    [Billie, Eilish, mocked, Asian, black, accents...
1                        [Miss, America, Miss, Muslim]
2    [love, miss, many, words, eg, CHINK, LOLLY, week]
3    [Ancient, West, Africans, city, IleIfe, respon...
4    [Millions, Africans, travel, Europe, find, wor...
Name: Tweets, dtype: object

In [24]:
#convert a collection of text to matrix of token

from sklearn.feature_extraction.text import CountVectorizer
msg_bow=CountVectorizer(analyzer=pr_tweet).fit_transform(tweets_data['Tweets'])

In [30]:
#splitting data set for training and testing

from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(msg_bow,tweets_data['Racist'],test_size=0.35,random_state=0)

In [31]:
#create and train Naive Bayes Classifier

from sklearn.naive_bayes import MultinomialNB
classifier = MultinomialNB().fit(X_train,y_train)

In [32]:
#printing prediction

print(classifier.predict(X_train))
print(y_train.values)

[0 0 1 0 1 0 0 0 0 0 0 0 1 1 1 1 1 0 1 0 1 1 0 0 1]
[0 0 1 0 1 0 0 0 0 0 0 0 1 1 1 1 1 0 1 0 1 1 0 0 1]

In [43]:
#evaluating model on test data set

from sklearn.metrics import classification_report, accuracy_score
pred=classifier.predict(X_train)
print(accuracy_score(y_train,pred))
print("")
print(classification_report(y_train,pred))

1.0

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        14
           1       1.00      1.00      1.00        11

    accuracy                           1.00        25
   macro avg       1.00      1.00      1.00        25
weighted avg       1.00      1.00      1.00        25